{% include 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/Aboutus.css">
</head>
<body>
    <div id="about">
        <div class="about poco">
          <img src="../static/images/mo.png" alt="">
          <h2>Mowafak Seidahmed</h2>
          <p>
            
 Hello, I'm Mowafak Seidahmed, a student at Southern Connecticut State University.
 I'm deeply passionate about computer science and am dedicated to learning and applying innovative solutions to tackle complex challenges in the field.
          </p>
      
        </div>
        <div class="about dog">
          <img src="../static/images/massour.jpeg" alt="">
          <h2>Massour Ourobode</h2>
          <p>Greetings, I'm Massour Ouro Bode, currently a student at Southern Connecticut State University. 
             With a profound love for computer science, I'm committed to exploring and implementing cutting-edge solutions to address the intricate challenges within the field.
          </p>
        </div>
        <div class="about parrot">
          <img src="../static/images/1.png" alt="">
          <h2>Jamil Mahtab</h2>
          <p>
            Hello, I'm Jamil Mahtab, a student at Southern Connecticut State University. 
            Welcome to our recipes sharing app, where food lovers unite to explore, create, and share delicious dishes from around the world. Join us on this culinary adventure and let's cook up something amazing together!
            
          </p>
        </div>
      </div>
</body>
</html>
