{% include 'index.html' %} <!-- Including index.html template -->
<!DOCTYPE html>
<html lang="en">
    <head>
  
  
        <link rel="stylesheet" href="/static/signup.css"> <!-- Linking external CSS file for styling -->
      </head>
      
      <body>
        <div class="signup-container"> <!-- Container for the signup form -->
          <form class="signup-form"> <!-- Signup form -->
              <h2>Contact Us</h2> <!-- Heading for the form -->
            
            <input type="text" placeholder="Full Name" required> <!-- Input field for full name -->
            <input type="email" placeholder="Email" required>   <!-- Input field for email -->
            <input type="text" placeholder="Reason to Contact" required> <!-- Input field for reason to contact -->

            <button type="submit">submit</button> <!-- Submit button -->
          </form>
        </div>
      </body>
      
      </html>