<div class="navbar"> <!-- Navigation bar container -->
    <div class="nav-logo"> <!-- Logo section -->
      <a href="#">Foodies</a> <!-- Logo link -->
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="/homepage"> Home </a></li>
        <li><a href="/recipes"> Recipes  </a></li>
        <li><a href="/aboutus"> Our Team</a></li>
        <li><a href="/contact"> Contact Us</a></li>
        <li><a href="/signin"> Sign in </a></li>
      <li><a href="/logout">Log/out</a></li>

      </ul>
    </div>
    
    <div class="nav-button">

      <div class="anim-layer"></div>
      <a href="/signup">Sign Up</a>
    </div>
    <div id="hamburger-menu">&#9776;</div>
  </div>

  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">