<div class="navbar">
    <div class="nav-logo">
      <a href="#">Foodies</a>
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/recipes"> Recipes  </a></li>
        <li><a href="/j"> About Us</a></li>
        <li><a href="/contact"> Contact Us</a></li>
        <li><a href="/signin"> Sign in </a></li>
      </ul>
    </div>
    
    <div class="nav-button">
      <div class="anim-layer"></div>
      <a href="/signup">Sign Up</a>
    </div>
    <div id="hamburger-menu">&#9776;</div>
  </div>

  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">