<div class="navbar"> <!-- Navigation bar container -->
    <div class="nav-logo"> <!-- Logo section -->
      <a href="#">Foodies</a> <!-- Logo link -->
    </div>
    <div class="nav-items"> <!-- Navigation items section -->
      <ul> <!-- Unordered list for navigation items -->
        <li><a href="/homepage"> Home </a></li>
        <li><a href="/recipes"> Recipes  </a></li>
        <li><a href="/aboutus"> Our Team</a></li>
        <li><a href="/contact"> Contact Us</a></li>
        <li><a href="/signin"> Sign in </a></li>
      <li><a href="/logout">Log/out</a></li>

      </ul>
    </div>
    
    <div class="nav-button"> <!-- Sign Up button section -->

      <div class="anim-layer"></div> <!-- Animation layer -->
      <a href="/signup">Sign Up</a> <!-- Sign Up link -->
    </div>
    <div id="hamburger-menu">&#9776;</div> <!-- Hamburger menu icon -->
  </div>

  <!-- Link to external CSS file for navbar styling -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">