{% include 'index.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  
  <link rel="stylesheet" href="/static/signup.css">
</head>

<body>
  <div class="signup-container">
    <form class="signup-form">
        <h2>Welcome foodie lovers!!!</h2> 
      <h2>Join Us</h2>
      <input type="text" placeholder="F Name" required>
      <input type="text" placeholder="L Name" required>

      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
      <input type="password" placeholder="rePassword" required>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>

</html>